/* address {
    float: right;
} */

.bottom-section {
    float: left;
    width: 100%;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0 0 10px 10px #efefef;
}

.bottom-section .abs-wraper {
    bottom: 47px;
}

.bottom-section>article {
    position: relative;
    float: left;
    width: 588px;
    height: 393px;
}

.bottom-section>article>img {
    width: 588px;
    height: 393px;
}

.bottom-section>article>div>p {
    color: white;
    font-style: 14px;
    line-height: 20px;
    margin-top: 21px;
}

.bottom-section>article>div>h3 {
    margin-bottom: 6px;
    margin-top: 18px;
}

.bottom-news-wraper {
    width: 412px;
    float: left;
}

.bottom-news-wraper ul {
    list-style: none;
}

.bottom-news-wraper>ul>li>article>time {
    font-size: 12px;
    float: left;
    background: url(../img/icon-time.png) 21% center no-repeat;
    padding-left: 29px;
}

.bottom-news-wraper>ul>li>article>span {
    font-size: 12px;
    float: left;
    background: url(../img/icon-comments.png) 0% center no-repeat;
    padding-left: 18px;
    padding-right: 38px;
}

.bottom-news-wraper>ul>li>article>a {
    margin-bottom: 9px;
}

.bottom-news-wraper>ul>li>article>h3 {
    line-height: 22px;
    margin-bottom: 9px;
    margin-top: 22px;
}

.bottom-news-wraper h2 {
    font-size: 20px;
    margin-top: 2px;
}